<style>
  .container {
    width: 600px;
    height: 600px;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%238A3FFC" d="M65.9,-19.7C75.5,8.3,66.7,44,43,61.9C19.3,79.7,-19.3,79.7,-44.3,61.5C-69.3,43.2,-80.7,6.7,-71,-21.3C-61.3,-49.3,-30.7,-68.7,-1.3,-68.3C28.1,-67.8,56.2,-47.6,65.9,-19.7Z" transform="translate(100 100)" /></svg>');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    flex-direction: column;
  }
  .container1 {
    display: flex;
    justify-content: center;
    margin-top: 53px;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  textarea {
    border-radius: 0px 200px;
    font-weight: bold;
    border: black 4px solid;
    text-align: center;
    resize: none;
    line-height: 100px;
  }
  #non {
   font-size: 30px;
   height: 250px;
   width: 510px;
   padding-left: 10px;
   padding-right: 10px;
  }
  .container1 .nilai {
    height: 40px;
    width: 90px;
    font-weight: bold;
    margin-right: 5px;
    border-radius: 20px;
    font-size: 17px;
    background-color: #8A3FFC;
    color: white;
    border: black 4px solid;
  }
  .container1 .hapus {
    height: 40px;
    width: 90px;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 20px;
    font-size: 17px;
    background-color: #8A3FFC;
    color: white;
    border: black 4px solid;
  }
  input {
    height: 32px;
    width: 330px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
    border: black 4px solid;
  }
  .mata {
    height: 40px;
    width: 40px;
    animation: none;
  }
  .blink {
   animation: blink 1s linear infinite;
  }
  @keyframes blink {
    0% {
     fill: red;
    }
    50% {
     fill: rgb(0, 238, 255);
    }
    100% {
     fill: rgb(34, 255, 0);
    }
  }
  @media only screen and (max-width: 600px) {
    input {
      width: 130px;
    }
    .container1 .hapus {
      background-color: #00ffff;
      color: black;
      width: 70px;
    }
    .container1 .nilai {
      background-color: #00ffff;
      color: black;
      width: 70px;
    }
    #non {
      height: 250px;
      width: 300px;
    }
    .container {
     width: 450px;
     height: 450px;
     background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%2300ffff" d="M65.9,-19.7C75.5,8.3,66.7,44,43,61.9C19.3,79.7,-19.3,79.7,-44.3,61.5C-69.3,43.2,-80.7,6.7,-71,-21.3C-61.3,-49.3,-30.7,-68.7,-1.3,-68.3C28.1,-67.8,56.2,-47.6,65.9,-19.7Z" transform="translate(100 100)" /></svg>');
    }
    .container1 {
      margin-top: 140px;
    }

  }
</style>
<main class="main">
  <div class="wadah">
    <div class="container1">
      <button (click)="calculateWordCount()" id="vue" class="nilai">Value</button>
      <input (input)="cleanInput()" type="text" id="noc" placeholder="Enter Sentence">
      <button id="pus" (click)="clearInputAndTextarea()" class="hapus">Wipee</button>
    </div>
    <div class="container">
     <svg [class.blink]="animateEyes" class="mata" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/></svg>
     <textarea name="nilaiz" id="non" readonly></textarea>
    </div>
  </div>
</main>
<router-outlet />
